<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.dextrys.pgplugin"
      version="0.1.0">
    <name>ImageResizer</name>
    <description>PhoneGap Plugin to resize image file</description>
    <license>MIT</license>
    <keywords>phonegap,image resize compress</keywords>
 
 
    <js-module src="www/imageresize.js" name="ImageResizer">
        <clobbers target="window.imageresizer" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ImageResizer">
                <param name="android-package" value="com.dextrys.pgplugin.imageresize.ImageResizer"/>
            </feature>
        </config-file>
 
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        
        <source-file src="src/android/ImageResizePlugin.java" target-dir="src/com/dextrys/pgplugin/imageresizer" />      
     </platform>
     
</plugin>
